@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #fffdf9;
    --color-foreground: #333333;
    --color-card: #f9fafb;
    --color-card-foreground: #333333;
    --color-popover: #ffffff;
    --color-popover-foreground: #333333;
    --color-primary: #7b26c0;
    --color-primary-foreground: #ffffff;
    --color-secondary: #8550b4;
    --color-secondary-foreground: #ffffff;
    --color-muted: #a7a7a7;
    --color-muted-foreground: #7b7b7b;
    --color-accent: #f6edfe;
    --color-accent-foreground: #333333;
    --color-destructive: #e63946;
    --color-destructive-foreground: #ffffff;
    --color-border: #c1c1c1;
    --color-input: #4c0c81;
    --color-ring: #cec8ed;
    --radius: 0.7rem;
    font-family:
      Arial,
      Helvetica,
      sans-serif sans-serif;
    font-size: large;
  }

  .dark {
    --color-background: #13131b;
    --color-foreground: #eeeeee;
    --color-card: #1f2937;
    --color-card-foreground: #f7f9fb;
    --color-popover: #1a1a27;
    --color-popover-foreground: #f7f9fb;
    --color-primary: #9c48e0;
    --color-primary-foreground: #eeeeee;
    --color-secondary: #815eb9;
    --color-secondary-foreground: #f2ecf4;
    --color-muted: #788597;
    --color-muted-foreground: #a9b0ba;
    --color-accent: #513e70;
    --color-accent-foreground: #eeeeee;
    --color-destructive: #e63946;
    --color-destructive-foreground: #f7f9fb;
    --color-border: #b8b8b8;
    --color-input: #e7d3f8;
    --color-ring: #2f2f82;
    --radius: 0.7rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply mt-4 text-4xl font-bold;
}

h2 {
  @apply mt-4 text-3xl font-bold;
}

h3 {
  @apply mt-2 text-xl font-bold;
}

p {
  @apply my-2;
}

a {
  @apply font-bold text-primary underline-offset-4 hover:underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.anim-fade-in {
  animation: fadeIn 0.5s ease-out;
}

.anim-fade-out {
  animation: fadeOut 0.5s ease-out;
}

.prose.text-foreground,
.prose.text-foreground h1,
.prose.text-foreground h2,
.prose.text-foreground h3,
.prose.text-foreground h4,
.prose.text-foreground h5,
.prose.text-foreground blockquote,
.prose.text-foreground strong {
  color: var(--color-foreground); /* Set the main text color */
}

.prose.text-foreground a {
  color: var(--color-primary); /* Set the color for links */
}

.truncate-text-7 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.truncate-text-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin 1.5s linear infinite;
}
