@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #333333;
  }

  .dark {
    --background: #111827;
    --foreground: #ffffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.anim-fade-in {
  animation: fadeIn 0.5s ease-out;
}

.anim-fade-out {
  animation: fadeOut 0.5s ease-out;
}

.prose.text-foreground,
.prose.text-foreground h1,
.prose.text-foreground h2,
.prose.text-foreground h3,
.prose.text-foreground h4,
.prose.text-foreground h5,
.prose.text-foreground blockquote,
.prose.text-foreground strong {
  color: var(--color-foreground); /* Set the main text color */
}

.prose.text-foreground a {
  color: var(--color-primary); /* Set the color for links */
}
